# Entornos Virtuales
venv/
*.venv
env/
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/
*.suo
*.ntvs*

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Archivos de build y distribución
build/
dist/
*.egg-info/